@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,500;1,500&display=swap'); 
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.conheca {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
.conheca::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #FF6501 0%, #f9c147 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
.conheca:hover::before {
    width: 9em;
   }
   footer {
    background-color: #ff6f17;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.contact-info a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 20px;
}